.carousel {
  margin: 20px 0;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}