.hero {
    background: url("../img/background.jpg") center/cover no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .hero-buttons {
    margin-top: 20px;
  }
  
  .play-button, .info-button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  
  .play-button {
    background-color: #fff;
    color: #141414;
  }