.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #141414;
    border-bottom: 1px solid #333;
  }
  
  .logo {
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-icons img {
    height: 30px;
  }
  
  .nav-links button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }
  
  .nav-links button.selecionado {
    color: #e50914;
  }