body{
    background-color: #111111;
    /* color:#999999; */
    color: white;
    font-size: 32px;
}

.card{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    background-color: #999999;
}

.card:nth-child(2n){
    background-color: #1d1d1d;
}