body{
    background-color: #000000;
   /*display: flex;*/

    flex-direction: row;
    flex-wrap: wrap; /*Permite quebrar linha!*/
    width: 50%;
    gap: 20px;
    /* border: solid 1px #ffff; */
    
} 
.card {
    background-color: rgb(35, 37, 39);
    display: flex;
    align-items: center;

    /* width: 100%; */
    width: 1000px;
    /* width: 2000px; */
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    margin-bottom: 10px;
  
}

.foto {
    /* width: 50px; */
    width: 90px;
    /* height: px; */
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}
.info {
    /* flex-grow: 1; */
    width: 60%;
   display: flex;
   flex-direction: column;
}
.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ccc;
    /* font-size: 1.2em; */
    /* margin-bottom: 5px; */
    font-size: 20px;/* tamanho da letra*/
    font-weight: 800; /*espesurra da linha da letra*/
}

.artistas {
    color: #666;
    /* padding: 8px */
}

.album{   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: flex-end;
    width: 10%;
    font-size: 0.8em;
    color: #666;
}
