body {

    background-color: #000000;
 
}
.card{
    border: solid 1px white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    
}
.text{
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 10px;
}   

.seta{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.container {
    padding: 15px;
    display: flex; 
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.877); 
    gap: 20px; 
    width: 250px; 
    height: 75px;
    border-radius: 10px; 
    border: solid 1px orange;

}
.menu {
    padding-left: 5px;
    border: solid 1px rgb(255, 255, 255);
    font-size: 20px;
    color: aliceblue;
    align-items: center;
    
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.artistas{
    border: solid 1px white;
    display: flex;
    flex-direction: column;

}
.containerr{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: solid 1px white;
    /* padding: 15px; */
    gap: 10px;

}
.img{
    width: 100px;
    align-items: stretch;
    border-radius: 100%;
    

}
.name{
    color: aliceblue;
}