body {
    /* margin: 0;
    padding: 0; */
    background-color: #2b2b2b;
    /* background-color: blueviolet; */
}
.card{
    border: solid 1px white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    /* flex-direction: row;
    justify-content: center; */
}
.text{
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 10px;
}

.seta{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.container {
    padding: 15px; /* Adiciona um preenchimento interno de 7px ao redor do conteúdo da div. */
    display: flex; /* Define o modelo de layout como flexível, permitindo a disposição dos itens filhos. */
    flex-direction: column; /* Organiza os itens filhos em uma coluna (verticalmente). */
    background-color: rgba(19, 12, 12, 0.877); /* Define a cor de fundo com opacidade (quase preto com leve transparência). */
    gap: 20px; /* Define o espaçamento entre os itens filhos. */
    width: 250px; /* Define a largura do container como 400 pixels. */
    height: 75px; /* Define a altura do container como 75 pixels. */
    border-radius: 10px; /* Arredonda os cantos do container com um raio de 10 pixels. */
    border: solid 1px orange;
    /* align-items: center; */
    /* justify-content: center; */ /* Comentado: Centraliza os itens filhos horizontalmente. */
    /* align-items: center; */ /* Comentado: Centraliza os itens filhos verticalmente. */
}
.menu {
    padding-left: 5px;
    border: solid 1px rgb(255, 255, 255);
    font-size: 20px;
    color: aliceblue;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* border-radius: 10px; */
    /* display: flex; */
    /* flex-direction: row;
    align-items: center; */
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.artistas{
    border: solid 1px white;
    display: flex;
    flex-direction: column;

}
.containerr{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: solid 1px white;
    padding: 15px;
    gap: 10px;

}
.img{
    width: 100px;
    border-radius: 100%;
}