.topo{

    display: flex;
    justify-content: space-around;  
    gap: 1200px;
}
.topinho{
   display: flex;

}
.topo1{
    display: flex;
    gap: 10px;
  
}
.card1{
    display: flex;
    color: #161616;
    justify-content: center;
    align-items: center;
    padding: 5px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cardN1{
    color: #fd6121;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold; 
}










.container{
    color: #161616;
    display: flex;
    justify-content: space-around;  
    gap: 100px;
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card2{
   
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding-left: 150px;
    margin-top: 150px;
}
.n2{
    font-size: 20px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



























.descricao-topo{
    background-color: #161616;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 25px;

}       

.descricao{
    background-color: #161616   ;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 50px;

}
.des1{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 15px;
    gap: 10px;

}
.des2{
    display: flex;
    flex-direction: row;
    font-size: 20px;

}
.NN1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 100px;
}
.texto1{
    padding: 5  px;
}
