.negrito{
    font-weight: 700;
}

#menu{
    display: flex;
    flex-direction: row;
    gap: 12px; /*espaço entre os elementos filhos*/

    justify-content: center;
    /* justify-content: space-between; */

    flex-wrap: wrap; /*permite a quebra de linha*/

    border: solid 2px black;
}